.Landing {
    background-image: url("../../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--primary-dark);
    color: white;
    height: 100vh;
    padding: 20px;
    padding-top: 100px;
    font-size: large;
    font-family: 'Open Sans';
    font-weight: bold;
}